:root {
  background-color: black;
}

h1 {
  padding-left: 25px;
  color: aliceblue;
}

header {
  overflow: hidden;
  background-color: cadetblue;
  padding: 20px 10px;
}

header a,
h1 {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#myName {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  background-color: white;
  color: black;
}

header a.active {
  background-color: black;
  color: white;
}

.header-right {
  float: right;
}

#profile-pic {
  width: 24rem;
  padding-bottom: 30px;
}

footer {
  overflow: hidden;
  background-color: cadetblue;
  padding: 20px 10px;
  max-height: 50px;
}

footer a {
  color: white;
  text-decoration: none;
}

main {
  min-height: 550px;
}

section {
  display: flex;
  text-align: center;
  color: cadetblue;
  padding: 50px 0 100px 0;
}

h3 {
  font-size: 48px;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  flex: 1;
  padding-right: 10px;
  flex-wrap: wrap;
}

#about-text {
  max-width: 800px;
}

.main-content {
  font-size: 20px;
  flex: auto;
  justify-content: center;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
}

.btn-primary {
  background-color: black;
}

.card {
  background-color: cadetblue;
  color: white;
  width: 18rem;
  margin-bottom: 20px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  text-decoration: underline;
  font-weight: bold;
  font-size: 24px;
}

.contacts li {
  padding: 10px;
  color: cadetblue;
}

.contacts li a {
  color: cadetblue;
}

nav {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  padding: 0px 8px;
  color: white;
}

#errorText {
  color: white;
  text-align: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}
